.navbar {
  height: 56px; /* Adjust the height as needed */
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; /* Ensure it stays on top */
}

.navbar .container-fluid {
  justify-content: space-between;
}

.position-relative {
  position: relative;
}

.search-emoji {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none; /* Allows click through to the input field */
}

.mx-auto {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar-icons {
  display: flex;
  gap: 1rem;
}

.navbar-icons .nav-link {
  color: #64919e;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  transition: transform 0.6s ease, color 0.3s ease; /* Add transition for smooth animation */
}

.navbar-icons .nav-link:hover {
  color: #aadcf3;
  text-decoration: underline;
  transform: scale(1.1); /* Scale up on hover */
}

.navbar-icons .icon {
  margin-right: 0.5rem; /* Adjust the spacing as needed */
}
