.attendance-container {
    display: flex;
    margin-top: 60px; /* Adjust based on the height of your navbar */
  }
  
  .attendance-form-container {
    flex: 1;
    padding: 20px;
  }
  
  .attendance-list-container {
    flex: 2;
    padding: 20px;
  }
  
  .attendance-form {
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .attendance-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .attendance-form input,
  .attendance-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .attendance-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .attendance-form button:hover {
    background-color: #45a049;
  }
  
  .attendance-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .category {
    margin-bottom: 30px;
    border-radius: 8px;
    padding: 15px;
  }
  
  .category-title {
    margin-bottom: 10px;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    border-radius: 8px 8px 0 0;
  }
  
  .present .category-title {
    background-color: #4CAF50;
  }
  
  .absent .category-title {
    background-color: #f44336;
  }
  
  .on-leave .category-title {
    background-color: #ff9800;
  }
  
  .category-list {
    list-style-type: none;
    padding: 0;
  }
  
  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .list-item:hover {
    transform: scale(1.02);
  }
  
  .list-item-id,
  .list-item-overtime,
  .list-item-date {
    font-size: 16px;
    color: #555;
  }
  
  .list-item-id {
    font-weight: bold;
  }
  
  .list-item-overtime,
  .list-item-date {
    font-style: italic;
  }
  